*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERIC CONTAINER ROW/COL*/

.container{
    width: 80%;
    height: 100%;
    border: 1px solid black;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*STYLING REMOVED FROM a AND ul*/

a{
    text-decoration: none;
    color: black;
}

ul {
  list-style-type: none;
}

/*GENERIC BG, COLOR AND TEXT*/

.bg-black{
    background-color: rgb(44, 43, 43);
}

.bg-blue{
    background-color: rgb(54, 54, 249);
}

.bg-gray{
    background-color: rgb(189, 183, 183);
}

.color-white{
    color: white;
}

.text-center{
    display: flex;
    justify-content: start;
}

/*GENERIC W AND H*/

.h-50per{
    height: 50%;
}

.h-20per{
    height: 20%;
}

.h-80per{
    height: 80%;
}

.w-50per{
    width: 50%;
}

/*GENERIC FLEX POSITION*/

.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

/*HEADER CONTENT*/

header{
    height: 100px;
}

.margin-row-header{
    margin: 10px
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    margin-right: 10px;
}


.logo img {
  height: 80px;
  width: 80px;
}

/*MAIN CONTENT*/

main{
    height: 320px;
}

main img{
    width: 40px;
    height: 50px;
    margin: 5px;
}


/*FOOTER CONTENT*/

footer{
    height: 400px;
}

.bg-image{
    background-image: url(/public/footer-bg.jpg);
}


.Follow-us{
    color: blue;
}

footer button{
    width: 120px;
    height: 40px;
    border: 1px solid blue;
    background-color: rgb(189, 183, 183);
    color: white;
}