*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul {
  list-style-type: none;
}


header{
    height: 100px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li{
    margin-right: 10px;
}


.container{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.logo img {
  height: 80px;
  width: 80px;
}
