*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERIC CONTAINER ROW*/

.container{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

/*STYLING REMOVED FROM a AND ul*/

a{
    text-decoration: none;
    color: black;
}

ul {
  list-style-type: none;
}

/*HEADER CONTENT*/

header{
    height: 150px;
}


nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    margin-right: 10px;
}


.logo img {
  height: 80px;
  width: 80px;
}

/*FOOTER CONTENT*/

footer{
    height: 100px;
}

.Follow-us{
    color: blue;
}
